body {
background-color: green;
margin: 0;
padding: 25px 0;
}

.block{
width: 468px;
height: 160px;
background: #F48C06;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
}
.First-block {
/* Rectangle 1 */
position:absolute;
width: 468px;
height: 160px;
border-radius: 20px;
background: #F48C06;
margin: 20px;
}


.First-base {   
color: #9D0208;
border-radius: 15px;
width: 100px;
height: 10px;
margin: 20px;
max-width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-basis: 180px;
justify-content: flex-start;
}

.Second-block {
/* Rectangle 2 */
position: absolute;
width: 468px;
height: 160px;
max-width: 100%;
background: #F48C06;
border-radius: 20px;
margin: 20px;

}

.Second-base {   
color: #9D0208;
border-radius: 15px;
min-width: 100px;
min-height: 100px;
margin: 20px;
display: flex;
justify-content: center;
align-items: center;
flex-basis: 180px;
justify-content: center;
align-items: stretch;
justify-content: space-evenly;  
}

.Third-block {
/* Rectangle 5 */
position: absolute;
width: 468px;
height: 160px;
max-width: 100%;
background: #F48C06;
border-radius: 20px;
margin: 20px;

}

.Third-base {   
color: #9D0208;
border-radius: 15px;
min-width: 100px;
min-height: 100px;
margin: 20px;
display: flex;
justify-content: center;
align-items: center;
flex-basis: 180px;
justify-content: flex-end;
}

.Forth-block {
/* Rectangle 4 */
position: absolute;
width: 468px;
height: 160px;
max-width: 100%;
background: #F48C06;
border-radius: 20px;
margin: 20px;
}

.Forth-base {   
color: #9D0208;
border-radius: 15px;
min-width: 100px;
min-height: 100px;
margin: 20px;
display: flex;
justify-content: center;
align-items: center;
flex-basis: 180px;
justify-content: space-between;
align-self: flex-end;
}

.Fifth-block {
/* Rectangle 6 */
position: absolute;
width: 468px;
height: 160px;
max-width: 100%;
background: #F48C06;
border-radius: 20px;
margin: 20px;
}

.Fifth-base {   
color: #9D0208;
border-radius: 15px;
min-width: 100px;
min-height: 100px;
margin: 20px;
display: flex;
justify-content: center;
align-items: center;
flex-basis: 180px;
justify-content: space-evenly;   
}

.Sixth-block{
/* Rectangle 4 */
position: absolute;
width: 468px;
height: 160px;
max-width: 100%;
background: #F48C06;
border-radius: 20px;
margin: 20px;
}

.Sixth-base {
color: #9D0208;
border-radius: 15px;
min-width: 100px;
min-height: 100vh;
margin: 20px;
display: flex;
justify-content: center;
align-items: center;
flex-basis: 180px;
justify-content: space-evenly;
}

.square1
{
min-width: 78px;
min-height: 78px;
background: #9D0208;
border-radius: 4px;
}

.square2
{
min-width: 78px;
min-height: 78px;
background: #9D0208;
border-radius: 4px;
}

.square3
{
width: 78px;
min-width: none;
min-height: 78px;
background: #9D0208;
border-radius: 4px;
}
